header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid#F74423;

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    a {
      color: #f74423;
    }

    a:hover {
      background: #d6201e;
      color: white;
      cursor: pointer;
    }
    .logo {
      font-weight: bold;
      padding: 1rem;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;

      a {
        padding: 1rem;
        display: inline-block;
      }

      span {
        background: #ff4d4d;
        color: white;
        padding: 0.1rem 0.45rem;
        border-radius: 100rem;
        font-size: 0.9rem;
      }

      .menu-container {
        position: relative;

        .menu {
          position: absolute;
          z-index: 1;
          background: whitesmoke;
          display: none;
          a {
            width: 100%;
            min-width: 8rem;
          }
        }
      }
      .menu-container:hover .menu {
        display: block;
      }
    }
  }
}
